<!--
<div class="col-xs-1-5 col-md-1-5 col-lg-1-5">
            <div class="thumbnail style-card">
                <div class="weather">
                    <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-6" id="temp"><%= item.day %></div>
                    <div class="col-xs-6 col-md-6 col-lg-6"><img class="" id=""  src=""></div> 
                    </div>
                </div>
                 
                     <img src="<%= item.icon %>">
                 <div class="lowerWeather">
                    <%= item.desc %>
                </div>
             </div>  
              
</div>  
-->
<div>
    <%= item.desc %>
</div>